<html>
    <head>
      <title> <%= controller.action_name %> </title>
    </head>
    
	<body background="/images/3.jpg">
	
		<font color="white">
		<center>
			<h1>ADD TEST REPORT</h1>
			
				<% form_for(hc2,:url=>{:action=>'create2'}) do |ob| %>
				  <%= ob.error_messages %>
					<h2> <p> <b>stu_id</b></br> <%= ob.text_field :stu_id %></p>
					<p> <b>date</b></br> <%= ob.text_field :date %></p>
					<p> <b>prescription_no</b></br> <%= ob.text_field :prescription_no %></p>
					<p> <b>test_name&report</b> </br><%= ob.text_area :test_name %></p>
					<p> <%= ob.submit "create" %></p></font></h2>
				<% end %>
				</form>
	    </center>
    </body>
</html>

