<html>
    
	<body>
		<p> <b>Name</b> <%= @hc.name %></p>
		<p> <b>password</b> <%= @hc.password %></p>
		<p> <b>stu_id</b> <%= @hc.stu_id %></p>
		<p> <b>b_group</b> <%= @hc.b_group %></p>
		<p> <b>age</b> <%= @hc.age %></p>
		<p> <b>course</b> <%= @hc.course%></p>
		<p> <b>contact_no</b> <%= @hc.contact_no %></p>
		<p><b>category</b> <%= @hc.category%></p><br>
		<a href="/hcs/<%=@hc.id%>/edit">Edit</a>
		<a href="/hcs/login">Back</a>
		
	
	</body>
   
</html>