<html>
		
	<body>
		<p> <b>stu_id</b> <%= @hc1.stu_id %></p>
		<p> <b>date</b> <%= @hc1.date %></p>
		<p> <b>prescription_no</b> <%= @hc1.prescription_no %></p>
		<p> <b>disease</b> <%= @hc1.disease%></p>
		<p> <b>test_prescription</b> <%= @hc1.test_prescription %></p>
		<p><b>medicene_prescription</b> <%= @hc1.medicene_prescription%></p>
	
	</body>
	
  
</html>